<div id="container">
 
    <header>
      <div>
        <img src="/img/bw-logo.svg" alt="bandwich logo">
      </div>
      <div>
        <i class="fas fa-home home menu"></i>
        <i class="fas fa-microphone-alt menu"></i>
        <i class="fas fa-list menu"></i>
      </div>
    </header>
    {{!-- <h5 id="proj-name" data-id={{project.id}}>{{project.projectName}}</h5> --}}

    <main id="console">

      <div id="project-settings">
        <form id="name-input" action="">
          <h3 id="proj-name" data-id={{project.id}}>{{project.projectName}}</h3>
          <input type="text" id="new-name" style="display: none;">
          {{!-- <input type="submit" value="Submit" id="save-song"> --}}
        </form>
        <!-- <h3>jello-rhino-hubcaps</h3>
        <button> <i class="fas fa-save"></i> Save</button> -->
      </div>

      <div class="track ui-block" id="track-one">
        Track One
        <input class="input-range" orient="vertical" type="range" step="0.5" value="5" min="1" max="10" />
        <div class="track-controls">
          <i class="fas fa-play play" id="playBtn1" data-id="{{this.id}}">
            <audio id="audio1" class="play-audio" src="/{{project.Audiofiles.0.path}}">
              Here
            </audio>
          </i>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="track ui-block" id="track-two">
        Track Two
        <input class="input-range" orient="vertical" type="range" step="0.5" value="5" min="1" max="10" />
        <div class="track-controls">
          <i class="fas fa-play play" id="playBtn2" data-id="{{this.id}}">
            <audio id="audio2" class="play-audio" src="/{{project.Audiofiles.1.path}}">
              Here
            </audio>
          </i>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="track ui-block" id="track-three">
        Track Three
        <input class="input-range" orient="vertical" type="range" step="0.5" value="5" min="1" max="10" />
        <div class="track-controls">
          <i class="fas fa-play play" id="playBtn3" data-id="{{this.id}}">
            <audio id="audio3" class="play-audio" src="/{{project.Audiofiles.2.path}}">
              Here
            </audio>
          </i>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="track ui-block" id="track-four">
        Track Four
        <input class="input-range" orient="vertical" type="range" step="0.5" value="5" min="1" max="10" />
        <div class="track-controls">
          <i class="fas fa-play play" id="playBtn4" data-id="{{this.id}}">
            <audio id="audio4" class="play-audio" src="/{{project.Audiofiles.3.path}}">
              Here
            </audio>
          </i>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="master-controls ui-block">
        <i class="fas fa-play-circle"></i>
        <i class="fas fa-pause-circle" id="main-pause"></i>
        <i class="fas fa-stop-circle" id="main-stop"></i>
        <i class="fas fa-circle" id="main-record"></i>
      </div>


    </main>
</div>



