<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Bandwich</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/b3159c9b97.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/workstation-layout.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div id="container">
      <header>
        <form id="name-input" action="">
          <input type="text" id="lname" name="lname" placeholder="Add song title to save"><br><br>
          <input type="submit" value="Submit" id="save-song">
        </form>
        <!-- <h3>jello-rhino-hubcaps</h3>
        <button> <i class="fas fa-save"></i> Save</button> -->
      </header>

      <div class="track ui-block" id="track-one">
        Track One
        <input
          class="input-range"
          orient="vertical"
          type="range"
          step="0.5"
          value="5"
          min="1"
          max="10"
        />
        <div class="track-controls">
          <i class="fas fa-play play" data-id="{{this.id}}">
            <audio
              id="audio{{this.id}}"
              class="play-audio"
              src="{{this.download}}"
            >
              Here
            </audio>
          </i>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="track ui-block" id="track-two">
        Track Two
        <input
          class="input-range"
          orient="vertical"
          type="range"
          step="0.5"
          value="5"
          min="1"
          max="10"
        />
        <div class="track-controls">
          <i class="fas fa-play play" data-id="{{this.id}}">
            <audio
              id="audio{{this.id}}"
              class="play-audio"
              src="{{this.download}}"
            >
              Here
            </audio>
          </i>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="track ui-block" id="track-three">
        Track Three
        <input
          class="input-range"
          orient="vertical"
          type="range"
          step="0.5"
          value="5"
          min="1"
          max="10"
        />
        <div class="track-controls">
          <i class="fas fa-play play" data-id="{{this.id}}">
            <audio
              id="audio{{this.id}}"
              class="play-audio"
              src="{{this.download}}"
            >
              Here
            </audio>
          </i>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="track ui-block" id="track-four">
        Track Four
        <input
          class="input-range"
          orient="vertical"
          type="range"
          step="0.5"
          value="5"
          min="1"
          max="10"
        />
        <div class="track-controls">
          <i class="fas fa-play play" data-id="{{this.id}}">
            <audio
              id="audio{{this.id}}"
              class="play-audio"
              src="{{this.download}}"
            >
              Here
            </audio>
          </i>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>

      <div class="master-controls ui-block">
        <i class="fas fa-play-circle"></i>
        <i class="fas fa-pause-circle"></i>
        <i class="fas fa-stop-circle"></i>
        <i class="fas fa-circle"></i>
      </div>
    </div>

    <script src="" async defer></script>
  </body>
</html>
