<div id="container">

  <header>
    <div>
      <img src="/img/bw-logo.svg" alt="bandwich logo">
    </div>
    <div>
      <i class="fas fa-home home menu"></i>
      <i class="fas fa-microphone-alt workstation menu"></i>
      <i class="fas fa-list songs menu"></i>
    </div>
  </header>
  {{!-- <h5 id="proj-name" data-id={{project.id}}>{{project.projectName}}</h5> --}}

  <main id="console">

    <div id="project-settings">
      <form id="name-input" action="">
        <h3 id="proj-name" data-id={{project.id}}>{{project.projectName}}</h3>
        <input type="text" id="new-name" style="display: none;">
        {{!-- <input type="submit" value="Submit" id="save-song"> --}}
      </form>
      <!-- <h3>jello-rhino-hubcaps</h3>
        <button> <i class="fas fa-save"></i> Save</button> -->
    </div>

    <div class="track ui-block recorded-track" id="track-one">
      <div class="title-bar">
        <h4>One</h4>
        <i class="fas fa-trash-alt" id="destroyBtn1"></i>
        {{!-- <button id="destroyBtn1">CLEAR</button> --}}
      </div>
      <div class="track-controls">
        <i class="fas fa-play-circle play trk-ctl-btn" id="playBtn1" data-id="{{this.id}}">
          <audio id="audio1" class="play-audio" src="/{{track1}}">
            Here
          </audio>
        </i>
        <div class="volume-controls">
          <input class="input-range" orient="vertical" type="range" step="0.5" value="5" min="1" max="10" />
          <canvas id="myCanvas3" class="audio-meter"></canvas>
        </div>
        <label class="switch">
          <input class="check" type="checkbox" value="false" data-track="1" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="track ui-block recorded-track" id="track-two">
      <div class="title-bar">
        <h4>Two</h4>
        <i class="fas fa-trash-alt" id="destroyBtn2"></i>
        {{!-- <button id="destroyBtn2">CLEAR</button> --}}
      </div>
      <div class="track-controls">
        <i class="fas fa-play-circle play trk-ctl-btn" id="playBtn2" data-id="{{this.id}}">
          <audio id="audio2" class="play-audio" src="/{{track2}}">
            Here
          </audio>
        </i>
        <div class="volume-controls">
          <input class="input-range" orient="vertical" type="range" step="0.5" value="5" min="1" max="10" />
          <canvas id="myCanvas3" class="audio-meter"></canvas>
        </div>
        <label class="switch">
          <input class="check" type="checkbox" value="false" data-track="2" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="track ui-block" id="track-three">
      <div class="title-bar">
        <h4>Three</h4>
        <i class="fas fa-trash-alt hide" id="destroyBtn3"></i>
        {{!-- <button id="destroyBtn3"><i class="fas fa-trash-alt"></i>CLEAR</button> --}}
      </div>
      <div class="track-controls">
        <i class="fas fa-play-circle play trk-ctl-btn disable" id="playBtn3" data-id="{{this.id}}">
          <audio id="audio3" class="play-audio" src="/{{track3}}">
            Here
          </audio>
        </i>
        <div class="volume-controls">
          <input class="input-range disable" orient="vertical" type="range" step="0.5" value="5" min="1" max="10" />
          <canvas id="myCanvas3" class="audio-meter"></canvas>
        </div>
        <label class="switch">
          <input class="check" type="checkbox" value="false" data-track="3" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="track ui-block" id="track-four">
      <div class="title-bar">
        <h4>Four</h4>
        <i class="fas fa-trash-alt hide" id="destroyBtn4"></i>
        {{!-- <button id="destroyBtn4"></i>CLEAR</button> --}}
      </div>
      <div class="track-controls">
        <i class="fas fa-play-circle trk-ctl-btn disable" id="playBtn4" data-id="{{this.id}}">
          <audio id="audio4" class="play-audio" src="/{{track4}}">
            Here
          </audio>
        </i>
        <div class="volume-controls">
          <input class="input-range disable" orient="vertical" type="range" step="0.5" value="5" min="1" max="10" />
          <canvas id="myCanvas3" class="audio-meter"></canvas>
        </div>
        <label class="switch">
          <input class="check" type="checkbox" value="false" data-track="4" />
          <span class="slider round"></span>
        </label>

      </div>
    </div>

    <div class="master-controls ui-block">
      <div class="mstr-ctl-btn" id="main-play">
        <i class="fas fa-play nudge" id="play-icon"></i>
      </div>
      <div class="mstr-ctl-btn" id="main-pause">
        <i class="fas fa-pause" id="pause-icon"></i>
      </div>
      <div class="mstr-ctl-btn" id="main-stop">
        <i class="fas fa-stop" id="stop-icon"></i>
      </div>
      <div class="mstr-ctl-btn" id="main-record">
        <i class="fas fa-circle" id="rec-icon"></i>
      </div>


    </div>


  </main>
</div>